@charset "UTF-8";
@import url("https://use.typekit.net/jjx7czz.css");

html {
    padding-left: 12%;
    padding-right: 12%;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: '/fonts/TTHoves-Medium.ttf';
    font-weight: 600;
    line-height: 2.8em;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    top: 200px;
    font-size: 3em;
    
}

p {
    font-size: 2em;
}

.column {
    float: left;
    width: 33.333%;
    font-size: 1.5em;
}

p3 {
    font-size: 1.3em;
}

.link {
    color: var(--font-color);
}

.link:hover {
    color: var(--link-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.bluelink {
    color: var(--link-color);
}

.bluelink:hover {
    color: var(--gray-color);
}

:root {

    --font-color: #0a0a0a;
    --bg-color: #fefefe;
    --link-color: #0096fe;
    --gray-color: #909090;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #fefefe;
        --bg-color: #141414;
        --link-color: #0096fe;
        --gray-color: #707070;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    html {
        padding-left: 3%;
        padding-right: 3%;
        line-height: 1.8em;
        padding-bottom: 50px;
    }
    
    h1 {
        top: 10px;
        font-size: 2em; 
    }
    
    p {
        font-size: 1.5em;
    }
    
    .column, p3 {
        font-size: 1.2em;
    }
}
